//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
// ШИРИНА ПОЛОТНА
$maxWidth: 1920;
// ВЫСОТА ПОЛОТНА
$maxHeight: 1080;
// РАЗМЕР КОНТЕЙНЕРА
$maxWidthContainer: 100wv;

$containerPadding: 0;

// ЦВЕТА
$colorWhite: #fff;
$colorDark: #000;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: #161628;
$fontRoboto: "Roboto";
